wsproxy/personproxy/src/main/resources/PersonManagementServiceSync.svc.xml

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="PersonManagementServiceSync"
                  targetNamespace="http://www.imsglobal.org/services/pms/wsdl/imsPersonManAbstractSync_v1p0"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://www.imsglobal.org/services/pms/wsdl/imsPersonManAbstractSync_v1p0"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                  xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
    <wsp:Policy wsu:Id="BasicHttpBinding_PersonManagementServiceSync_policy">
        <wsp:ExactlyOne>
            <wsp:All>
                <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
                    <wsp:Policy>
                        <sp:TransportToken>
                            <wsp:Policy>
                                <sp:HttpsToken RequireClientCertificate="false"/>
                            </wsp:Policy>
                        </sp:TransportToken>
                        <sp:AlgorithmSuite>
                            <wsp:Policy>
                                <sp:Basic256/>
                            </wsp:Policy>
                        </sp:AlgorithmSuite>
                        <sp:Layout>
                            <wsp:Policy>
                                <sp:Lax/>
                            </wsp:Policy>
                        </sp:Layout>
                        <sp:IncludeTimestamp/>
                    </wsp:Policy>
                </sp:TransportBinding>
                <sp:SignedSupportingTokens xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
                    <wsp:Policy>
                        <sp:UsernameToken
                                sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
                            <wsp:Policy>
                                <sp:WssUsernameToken10/>
                            </wsp:Policy>
                        </sp:UsernameToken>
                    </wsp:Policy>
                </sp:SignedSupportingTokens>
                <sp:Wss10 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
                    <wsp:Policy/>
                </sp:Wss10>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsdl:types>
        <xs:schema elementFormDefault="qualified"
                   targetNamespace="http://www.imsglobal.org/services/pms/xsd/imsPersonManMessSchema_v1p0"
                   xmlns:xs="http://www.w3.org/2001/XMLSchema"
                   xmlns:tns="http://www.imsglobal.org/services/pms/xsd/imsPersonManMessSchema_v1p0">
            <xs:import namespace="http://www.imsglobal.org/services/common/imsCommonSchema_v1p0"/>
            <xs:import namespace="http://www.imsglobal.org/services/pms/xsd/imsPersonManDataSchema_v1p0"/>
            <xs:element name="createPersonsRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" maxOccurs="1" name="personIdPairSet"
                                    type="tns:ArrayOfPersonIdPairDType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="ArrayOfPersonIdPairDType">
                <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="personIdPair" type="tns:PersonIdPairDType"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="PersonIdPairDType">
                <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="1" name="sourcedId">
                        <xs:complexType>
                            <xs:complexContent mixed="false">
                                <xs:extension base="tns:BaseId"/>
                            </xs:complexContent>
                        </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="person" type="q1:person"
                                xmlns:q1="http://www.imsglobal.org/services/pms/xsd/imsPersonManDataSchema_v1p0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="BaseId">
                <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="1" ref="q2:identifier"
                                xmlns:q2="http://www.imsglobal.org/services/common/imsCommonSchema_v1p0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="createPersonsResponse">
                <xs:complexType/>
            </xs:element>
            <xs:element name="updatePersonsRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" maxOccurs="1" name="personIdPairSet"
                                    type="tns:ArrayOfPersonIdPairDType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updatePersonsResponse">
                <xs:complexType/>
            </xs:element>
            <xs:element name="replacePersonsRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" maxOccurs="1" name="personIdPairSet"
                                    type="tns:ArrayOfPersonIdPairDType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="replacePersonsResponse">
                <xs:complexType/>
            </xs:element>
            <xs:element name="deletePersonsRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" maxOccurs="1" name="sourcedIdSet" type="q3:ArrayOfString"
                                    xmlns:q3="http://www.imsglobal.org/services/common/imsCommonSchema_v1p0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deletePersonsResponse">
                <xs:complexType/>
            </xs:element>
            <xs:element name="readPersonsRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" maxOccurs="1" name="sourcedIdSet" type="q4:ArrayOfString"
                                    xmlns:q4="http://www.imsglobal.org/services/common/imsCommonSchema_v1p0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="readPersonsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" maxOccurs="1" name="personSet" type="tns:ArrayOfPerson"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="ArrayOfPerson">
                <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="person" type="q5:person"
                                xmlns:q5="http://www.imsglobal.org/services/pms/xsd/imsPersonManDataSchema_v1p0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="changePersonsIdentifierRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" maxOccurs="1" name="pairSourcedIdSet"
                                    type="q6:ArrayOfIdentifierPairDType"
                                    xmlns:q6="http://www.imsglobal.org/services/common/imsCommonSchema_v1p0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="changePersonsIdentifierResponse">
                <xs:complexType/>
            </xs:element>
            <xs:element name="createPersonRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" maxOccurs="1" name="sourcedId">
                            <xs:complexType>
                                <xs:complexContent mixed="false">
                                    <xs:extension base="tns:BaseId"/>
                                </xs:complexContent>
                            </xs:complexType>
                        </xs:element>
                        <xs:element minOccurs="0" maxOccurs="1" name="person" type="q7:person"
                                    xmlns:q7="http://www.imsglobal.org/services/pms/xsd/imsPersonManDataSchema_v1p0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createPersonResponse">
                <xs:complexType/>
            </xs:element>
            <xs:element name="updatePersonRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" maxOccurs="1" name="sourcedId">
                            <xs:complexType>
                                <xs:complexContent mixed="false">
                                    <xs:extension base="tns:BaseId"/>
                                </xs:complexContent>
                            </xs:complexType>
                        </xs:element>
                        <xs:element minOccurs="0" maxOccurs="1" name="person" type="q8:person"
                                    xmlns:q8="http://www.imsglobal.org/services/pms/xsd/imsPersonManDataSchema_v1p0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updatePersonResponse">
                <xs:complexType/>
            </xs:element>
            <xs:element name="replacePersonRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" maxOccurs="1" name="sourcedId">
                            <xs:complexType>
                                <xs:complexContent mixed="false">
                                    <xs:extension base="tns:BaseId"/>
                                </xs:complexContent>
                            </xs:complexType>
                        </xs:element>
                        <xs:element minOccurs="0" maxOccurs="1" name="person" type="q9:person"
                                    xmlns:q9="http://www.imsglobal.org/services/pms/xsd/imsPersonManDataSchema_v1p0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="replacePersonResponse">
                <xs:complexType/>
            </xs:element>
            <xs:element name="deletePersonRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" maxOccurs="1" name="sourcedId">
                            <xs:complexType>
                                <xs:complexContent mixed="false">
                                    <xs:extension base="tns:BaseId"/>
                                </xs:complexContent>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deletePersonResponse">
                <xs:complexType/>
            </xs:element>
            <xs:element name="readPersonRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" maxOccurs="1" name="sourcedId">
                            <xs:complexType>
                                <xs:complexContent mixed="false">
                                    <xs:extension base="tns:BaseId"/>
                                </xs:complexContent>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="readPersonResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" maxOccurs="1" name="person" type="q10:person"
                                    xmlns:q10="http://www.imsglobal.org/services/pms/xsd/imsPersonManDataSchema_v1p0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="changePersonIdentifierRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" maxOccurs="1" name="sourcedId">
                            <xs:complexType>
                                <xs:complexContent mixed="false">
                                    <xs:extension base="tns:BaseId"/>
                                </xs:complexContent>
                            </xs:complexType>
                        </xs:element>
                        <xs:element minOccurs="0" maxOccurs="1" name="newSourcedId">
                            <xs:complexType>
                                <xs:complexContent mixed="false">
                                    <xs:extension base="tns:BaseId"/>
                                </xs:complexContent>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="changePersonIdentifierResponse">
                <xs:complexType/>
            </xs:element>
            <xs:element name="readPersonsForGroupRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" maxOccurs="1" name="groupSourcedId">
                            <xs:complexType>
                                <xs:complexContent mixed="false">
                                    <xs:extension base="tns:BaseId"/>
                                </xs:complexContent>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="readPersonsForGroupResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" maxOccurs="1" name="personIdPairSet"
                                    type="tns:ArrayOfPersonIdPairDType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema elementFormDefault="qualified"
                   targetNamespace="http://www.imsglobal.org/services/common/imsCommonSchema_v1p0"
                   xmlns:xs="http://www.w3.org/2001/XMLSchema"
                   xmlns:tns="http://www.imsglobal.org/services/common/imsCommonSchema_v1p0">
            <xs:element name="identifier" type="xs:string"/>
            <xs:complexType name="RecordMetaDataDType">
                <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="1" name="comments" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="email" type="xs:string"/>
            <xs:element name="URL" type="xs:string"/>
            <xs:complexType name="UserIdDType">
                <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="1" name="userIdValue" type="xs:string"/>
                    <xs:element minOccurs="0" maxOccurs="1" name="userIdType" type="xs:string"/>
                    <xs:element minOccurs="0" maxOccurs="1" name="passWord" type="xs:string"/>
                    <xs:element minOccurs="0" maxOccurs="1" name="pwEncryptionType" type="xs:string"/>
                    <xs:element minOccurs="0" maxOccurs="1" name="authenticationType" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="dataSource" type="xs:string"/>
            <xs:element name="extensionField" type="tns:extensionField"/>
            <xs:complexType name="extensionField">
                <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="1" name="fieldName" type="xs:string"/>
                    <xs:element minOccurs="0" maxOccurs="1" name="fieldType" type="xs:string"/>
                    <xs:element minOccurs="0" maxOccurs="1" name="fieldValue" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="relationship" type="tns:RelationshipDType"/>
            <xs:complexType name="RelationshipDType">
                <xs:sequence>
                    <xs:element minOccurs="1" maxOccurs="1" name="relation">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="KnownAs"/>
                                <xs:enumeration value="Parent"/>
                                <xs:enumeration value="Child"/>
                                <xs:enumeration value="1"/>
                                <xs:enumeration value="2"/>
                                <xs:enumeration value="3"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="sourceId">
                        <xs:complexType>
                            <xs:complexContent mixed="false">
                                <xs:extension base="tns:BaseId"/>
                            </xs:complexContent>
                        </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="label" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="BaseId">
                <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="1" name="identifier" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="LangStringDType">
                <xs:sequence>
                    <xs:element minOccurs="1" maxOccurs="1" name="language">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="en-US"/>
                                <xs:enumeration value="en-GB"/>
                                <xs:enumeration value="aa"/>
                                <xs:enumeration value="ab"/>
                                <xs:enumeration value="af"/>
                                <xs:enumeration value="am"/>
                                <xs:enumeration value="ar"/>
                                <xs:enumeration value="as"/>
                                <xs:enumeration value="ay"/>
                                <xs:enumeration value="az"/>
                                <xs:enumeration value="ba"/>
                                <xs:enumeration value="be"/>
                                <xs:enumeration value="bg"/>
                                <xs:enumeration value="bh"/>
                                <xs:enumeration value="bi"/>
                                <xs:enumeration value="bn"/>
                                <xs:enumeration value="bo"/>
                                <xs:enumeration value="br"/>
                                <xs:enumeration value="aa"/>
                                <xs:enumeration value="ca"/>
                                <xs:enumeration value="co"/>
                                <xs:enumeration value="cs"/>
                                <xs:enumeration value="cy"/>
                                <xs:enumeration value="da"/>
                                <xs:enumeration value="de"/>
                                <xs:enumeration value="dz"/>
                                <xs:enumeration value="el"/>
                                <xs:enumeration value="eo"/>
                                <xs:enumeration value="es"/>
                                <xs:enumeration value="et"/>
                                <xs:enumeration value="eu"/>
                                <xs:enumeration value="fa"/>
                                <xs:enumeration value="fi"/>
                                <xs:enumeration value="fj"/>
                                <xs:enumeration value="fo"/>
                                <xs:enumeration value="fr"/>
                                <xs:enumeration value="fy"/>
                                <xs:enumeration value="ga"/>
                                <xs:enumeration value="gd"/>
                                <xs:enumeration value="gl"/>
                                <xs:enumeration value="gn"/>
                                <xs:enumeration value="gu"/>
                                <xs:enumeration value="ha"/>
                                <xs:enumeration value="he"/>
                                <xs:enumeration value="hi"/>
                                <xs:enumeration value="hr"/>
                                <xs:enumeration value="hu"/>
                                <xs:enumeration value="hy"/>
                                <xs:enumeration value="ia"/>
                                <xs:enumeration value="id"/>
                                <xs:enumeration value="ie"/>
                                <xs:enumeration value="ik"/>
                                <xs:enumeration value="is"/>
                                <xs:enumeration value="it"/>
                                <xs:enumeration value="iu"/>
                                <xs:enumeration value="ja"/>
                                <xs:enumeration value="jw"/>
                                <xs:enumeration value="ka"/>
                                <xs:enumeration value="kk"/>
                                <xs:enumeration value="kl"/>
                                <xs:enumeration value="km"/>
                                <xs:enumeration value="kn"/>
                                <xs:enumeration value="ko"/>
                                <xs:enumeration value="ks"/>
                                <xs:enumeration value="ku"/>
                                <xs:enumeration value="ky"/>
                                <xs:enumeration value="la"/>
                                <xs:enumeration value="ln"/>
                                <xs:enumeration value="lo"/>
                                <xs:enumeration value="lt"/>
                                <xs:enumeration value="lv"/>
                                <xs:enumeration value="mg"/>
                                <xs:enumeration value="mi"/>
                                <xs:enumeration value="mk"/>
                                <xs:enumeration value="ml"/>
                                <xs:enumeration value="mn"/>
                                <xs:enumeration value="mo"/>
                                <xs:enumeration value="mr"/>
                                <xs:enumeration value="ms"/>
                                <xs:enumeration value="mt"/>
                                <xs:enumeration value="my"/>
                                <xs:enumeration value="na"/>
                                <xs:enumeration value="ne"/>
                                <xs:enumeration value="nl"/>
                                <xs:enumeration value="no"/>
                                <xs:enumeration value="oc"/>
                                <xs:enumeration value="om"/>
                                <xs:enumeration value="or"/>
                                <xs:enumeration value="pa"/>
                                <xs:enumeration value="pl"/>
                                <xs:enumeration value="ps"/>
                                <xs:enumeration value="pt"/>
                                <xs:enumeration value="qu"/>
                                <xs:enumeration value="rm"/>
                                <xs:enumeration value="rn"/>
                                <xs:enumeration value="ro"/>
                                <xs:enumeration value="ru"/>
                                <xs:enumeration value="rw"/>
                                <xs:enumeration value="sa"/>
                                <xs:enumeration value="sd"/>
                                <xs:enumeration value="sg"/>
                                <xs:enumeration value="sh"/>
                                <xs:enumeration value="si"/>
                                <xs:enumeration value="sk"/>
                                <xs:enumeration value="sl"/>
                                <xs:enumeration value="sm"/>
                                <xs:enumeration value="sn"/>
                                <xs:enumeration value="so"/>
                                <xs:enumeration value="sq"/>
                                <xs:enumeration value="sr"/>
                                <xs:enumeration value="ss"/>
                                <xs:enumeration value="st"/>
                                <xs:enumeration value="su"/>
                                <xs:enumeration value="sv"/>
                                <xs:enumeration value="sw"/>
                                <xs:enumeration value="ta"/>
                                <xs:enumeration value="te"/>
                                <xs:enumeration value="tg"/>
                                <xs:enumeration value="th"/>
                                <xs:enumeration value="ti"/>
                                <xs:enumeration value="tk"/>
                                <xs:enumeration value="tl"/>
                                <xs:enumeration value="tn"/>
                                <xs:enumeration value="to"/>
                                <xs:enumeration value="tr"/>
                                <xs:enumeration value="ts"/>
                                <xs:enumeration value="tt"/>
                                <xs:enumeration value="tw"/>
                                <xs:enumeration value="ug"/>
                                <xs:enumeration value="uk"/>
                                <xs:enumeration value="ur"/>
                                <xs:enumeration value="uz"/>
                                <xs:enumeration value="vi"/>
                                <xs:enumeration value="vo"/>
                                <xs:enumeration value="wo"/>
                                <xs:enumeration value="xh"/>
                                <xs:enumeration value="yi"/>
                                <xs:enumeration value="yo"/>
                                <xs:enumeration value="za"/>
                                <xs:enumeration value="zh"/>
                                <xs:enumeration value="zu"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="text" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ArrayOfString">
                <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="identifier" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ArrayOfIdentifierPairDType">
                <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="identifierPair"
                                type="tns:IdentifierPairDType"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="IdentifierPairDType">
                <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="1" name="firstId" type="xs:string"/>
                    <xs:element minOccurs="0" maxOccurs="1" name="secondId" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema elementFormDefault="qualified"
                   targetNamespace="http://www.imsglobal.org/services/pms/xsd/imsPersonManDataSchema_v1p0"
                   xmlns:xs="http://www.w3.org/2001/XMLSchema"
                   xmlns:tns="http://www.imsglobal.org/services/pms/xsd/imsPersonManDataSchema_v1p0">
            <xs:import namespace="http://www.imsglobal.org/services/common/imsCommonSchema_v1p0"/>
            <xs:complexType name="person">
                <xs:sequence>
                    <xs:element minOccurs="1" maxOccurs="1" name="formatName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" maxOccurs="1" name="name" type="tns:NameDType"/>
                    <xs:element minOccurs="0" maxOccurs="1" name="recordInfo" type="q1:RecordMetaDataDType"
                                xmlns:q1="http://www.imsglobal.org/services/common/imsCommonSchema_v1p0"/>
                    <xs:element minOccurs="0" maxOccurs="1" ref="q2:email"
                                xmlns:q2="http://www.imsglobal.org/services/common/imsCommonSchema_v1p0"/>
                    <xs:element minOccurs="0" maxOccurs="1" ref="q3:URL"
                                xmlns:q3="http://www.imsglobal.org/services/common/imsCommonSchema_v1p0"/>
                    <xs:element minOccurs="0" maxOccurs="1" name="systemRole">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="SysAdmin"/>
                                <xs:enumeration value="SysSupport"/>
                                <xs:enumeration value="Creator"/>
                                <xs:enumeration value="AccountAdmin"/>
                                <xs:enumeration value="User"/>
                                <xs:enumeration value="Administrator"/>
                                <xs:enumeration value="None"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="userId" type="q4:UserIdDType"
                                xmlns:q4="http://www.imsglobal.org/services/common/imsCommonSchema_v1p0"/>
                    <xs:element minOccurs="0" maxOccurs="1" name="address" type="tns:AddressDType"/>
                    <xs:element minOccurs="0" maxOccurs="1" name="demographics" type="tns:DemographicsDType"/>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="institutionRole"
                                type="tns:InstitutionRoleDType"/>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="tel" type="tns:TelDType"/>
                    <xs:element minOccurs="0" maxOccurs="1" name="photo" type="tns:PhotoDType"/>
                    <xs:element minOccurs="0" maxOccurs="1" ref="q5:dataSource"
                                xmlns:q5="http://www.imsglobal.org/services/common/imsCommonSchema_v1p0"/>
                    <xs:element minOccurs="0" maxOccurs="1" name="extension" type="tns:extensionType"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="NameDType">
                <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="1" name="nameType" type="xs:string"/>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="partName">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element minOccurs="0" maxOccurs="1" name="namePartType" type="xs:string"/>
                                <xs:element minOccurs="0" maxOccurs="1" name="namePartValue" type="xs:string"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="AddressDType">
                <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="1" name="pobox" type="xs:string"/>
                    <xs:element minOccurs="0" maxOccurs="1" name="extadd" type="xs:string"/>
                    <xs:element minOccurs="0" maxOccurs="1" name="locality" type="xs:string"/>
                    <xs:element minOccurs="0" maxOccurs="1" name="region" type="xs:string"/>
                    <xs:element minOccurs="0" maxOccurs="1" name="postcode" type="xs:string"/>
                    <xs:element minOccurs="0" maxOccurs="1" name="country" type="xs:string"/>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="street" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="DemographicsDType">
                <xs:sequence>
                    <xs:element minOccurs="1" maxOccurs="1" name="gender">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="Male"/>
                                <xs:enumeration value="Female"/>
                                <xs:enumeration value="Gender"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="disability" type="xs:string"/>
                    <xs:element minOccurs="0" maxOccurs="1" name="bday" type="xs:date"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="InstitutionRoleDType">
                <xs:sequence>
                    <xs:element minOccurs="1" maxOccurs="1" name="institutionRoleType">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="Student"/>
                                <xs:enumeration value="Faculty"/>
                                <xs:enumeration value="Member"/>
                                <xs:enumeration value="Learner"/>
                                <xs:enumeration value="Instructor"/>
                                <xs:enumeration value="Mentor"/>
                                <xs:enumeration value="Staff"/>
                                <xs:enumeration value="Alumni"/>
                                <xs:enumeration value="ProspectiveStudent"/>
                                <xs:enumeration value="Guest"/>
                                <xs:enumeration value="Other"/>
                                <xs:enumeration value="Administrator"/>
                                <xs:enumeration value="Observer"/>
                                <xs:enumeration value="Carer"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="1" maxOccurs="1" name="primaryRoleType" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="TelDType">
                <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="1" name="telType">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="1"/>
                                <xs:enumeration value="2"/>
                                <xs:enumeration value="3"/>
                                <xs:enumeration value="4"/>
                                <xs:enumeration value="Voice"/>
                                <xs:enumeration value="Fax"/>
                                <xs:enumeration value="Mobile"/>
                                <xs:enumeration value="Pager"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="telValue" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="PhotoDType">
                <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="1" name="imgType" type="xs:string"/>
                    <xs:element minOccurs="0" maxOccurs="1" name="extRef" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="extensionType">
                <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" ref="q6:extensionField"
                                xmlns:q6="http://www.imsglobal.org/services/common/imsCommonSchema_v1p0"/>
                    <xs:element minOccurs="0" maxOccurs="unbounded" ref="q7:relationship"
                                xmlns:q7="http://www.imsglobal.org/services/common/imsCommonSchema_v1p0"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema elementFormDefault="qualified"
                   targetNamespace="http://www.imsglobal.org/services/common/imsMessBindSchema_v1p0"
                   xmlns:xs="http://www.w3.org/2001/XMLSchema"
                   xmlns:tns="http://www.imsglobal.org/services/common/imsMessBindSchema_v1p0">
            <xs:import namespace="http://www.imsglobal.org/services/common/imsCommonSchema_v1p0"/>
            <xs:element name="syncRequestHeaderInfo">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" maxOccurs="1" name="messageIdentifier" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="syncResponseHeaderInfo">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" maxOccurs="1" name="messageIdentifier" type="xs:string"/>
                        <xs:element minOccurs="0" maxOccurs="1" name="statusInfo" type="tns:StatusInfoDType"/>
                        <xs:element minOccurs="0" maxOccurs="1" name="statusInfoSet" type="tns:ArrayOfStatusInfoDType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="StatusInfoDType">
                <xs:sequence>
                    <xs:element minOccurs="1" maxOccurs="1" name="codeMajor">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="success"/>
                                <xs:enumeration value="unsupported"/>
                                <xs:enumeration value="failure"/>
                                <xs:enumeration value="processing"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="1" maxOccurs="1" name="severity">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="status"/>
                                <xs:enumeration value="warning"/>
                                <xs:enumeration value="error"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="1" name="codeMinor" type="tns:ArrayOfCodeMinorField"/>
                    <xs:element minOccurs="0" maxOccurs="1" name="messageIdRef" type="xs:string"/>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="operationIdRef" type="xs:string"/>
                    <xs:element minOccurs="0" maxOccurs="1" name="description" type="q1:LangStringDType"
                                xmlns:q1="http://www.imsglobal.org/services/common/imsCommonSchema_v1p0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ArrayOfCodeMinorField">
                <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="codeMinorField">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element minOccurs="0" maxOccurs="1" name="codeMinorName" type="xs:string"/>
                                <xs:element minOccurs="0" maxOccurs="1" name="codeMinorValue" type="xs:string"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ArrayOfStatusInfoDType">
                <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="statusInfo" nillable="true"
                                type="tns:StatusInfoDType"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="createPersonsRequest1">
        <wsdl:part name="createPersonsRequest" element="q1:createPersonsRequest"
                   xmlns:q1="http://www.imsglobal.org/services/pms/xsd/imsPersonManMessSchema_v1p0"/>
    </wsdl:message>
    <wsdl:message name="createPersonsRequest1_Headers">
        <wsdl:part name="syncRequestHeaderInfo" element="q2:syncRequestHeaderInfo"
                   xmlns:q2="http://www.imsglobal.org/services/common/imsMessBindSchema_v1p0"/>
    </wsdl:message>
    <wsdl:message name="createPersonsResponse1">
        <wsdl:part name="createPersonsResponse" element="q3:createPersonsResponse"
                   xmlns:q3="http://www.imsglobal.org/services/pms/xsd/imsPersonManMessSchema_v1p0"/>
    </wsdl:message>
    <wsdl:message name="createPersonsResponse1_Headers">
        <wsdl:part name="syncResponseHeaderInfo" element="q4:syncResponseHeaderInfo"
                   xmlns:q4="http://www.imsglobal.org/services/common/imsMessBindSchema_v1p0"/>
    </wsdl:message>
    <wsdl:message name="updatePersonsRequest1">
        <wsdl:part name="updatePersonsRequest" element="q5:updatePersonsRequest"
                   xmlns:q5="http://www.imsglobal.org/services/pms/xsd/imsPersonManMessSchema_v1p0"/>
    </wsdl:message>
    <wsdl:message name="updatePersonsRequest1_Headers">
        <wsdl:part name="syncRequestHeaderInfo" element="q6:syncRequestHeaderInfo"
                   xmlns:q6="http://www.imsglobal.org/services/common/imsMessBindSchema_v1p0"/>
    </wsdl:message>
    <wsdl:message name="updatePersonsResponse1">
        <wsdl:part name="updatePersonsResponse" element="q7:updatePersonsResponse"
                   xmlns:q7="http://www.imsglobal.org/services/pms/xsd/imsPersonManMessSchema_v1p0"/>
    </wsdl:message>
    <wsdl:message name="updatePersonsResponse1_Headers">
        <wsdl:part name="syncResponseHeaderInfo" element="q8:syncResponseHeaderInfo"
                   xmlns:q8="http://www.imsglobal.org/services/common/imsMessBindSchema_v1p0"/>
    </wsdl:message>
    <wsdl:message name="replacePersonsRequest1">
        <wsdl:part name="replacePersonsRequest" element="q9:replacePersonsRequest"
                   xmlns:q9="http://www.imsglobal.org/services/pms/xsd/imsPersonManMessSchema_v1p0"/>
    </wsdl:message>
    <wsdl:message name="replacePersonsRequest1_Headers">
        <wsdl:part name="syncRequestHeaderInfo" element="q10:syncRequestHeaderInfo"
                   xmlns:q10="http://www.imsglobal.org/services/common/imsMessBindSchema_v1p0"/>
    </wsdl:message>
    <wsdl:message name="replacePersonsResponse1">
        <wsdl:part name="replacePersonsResponse" element="q11:replacePersonsResponse"
                   xmlns:q11="http://www.imsglobal.org/services/pms/xsd/imsPersonManMessSchema_v1p0"/>
    </wsdl:message>
    <wsdl:message name="replacePersonsResponse1_Headers">
        <wsdl:part name="syncResponseHeaderInfo" element="q12:syncResponseHeaderInfo"
                   xmlns:q12="http://www.imsglobal.org/services/common/imsMessBindSchema_v1p0"/>
    </wsdl:message>
    <wsdl:message name="deletePersonsRequest1">
        <wsdl:part name="deletePersonsRequest" element="q13:deletePersonsRequest"
                   xmlns:q13="http://www.imsglobal.org/services/pms/xsd/imsPersonManMessSchema_v1p0"/>
    </wsdl:message>
    <wsdl:message name="deletePersonsRequest1_Headers">
        <wsdl:part name="syncRequestHeaderInfo" element="q14:syncRequestHeaderInfo"
                   xmlns:q14="http://www.imsglobal.org/services/common/imsMessBindSchema_v1p0"/>
    </wsdl:message>
    <wsdl:message name="deletePersonsResponse1">
        <wsdl:part name="deletePersonsResponse" element="q15:deletePersonsResponse"
                   xmlns:q15="http://www.imsglobal.org/services/pms/xsd/imsPersonManMessSchema_v1p0"/>
    </wsdl:message>
    <wsdl:message name="deletePersonsResponse1_Headers">
        <wsdl:part name="syncResponseHeaderInfo" element="q16:syncResponseHeaderInfo"
                   xmlns:q16="http://www.imsglobal.org/services/common/imsMessBindSchema_v1p0"/>
    </wsdl:message>
    <wsdl:message name="readPersonsRequest1">
        <wsdl:part name="readPersonsRequest" element="q17:readPersonsRequest"
                   xmlns:q17="http://www.imsglobal.org/services/pms/xsd/imsPersonManMessSchema_v1p0"/>
    </wsdl:message>
    <wsdl:message name="readPersonsRequest1_Headers">
        <wsdl:part name="syncRequestHeaderInfo" element="q18:syncRequestHeaderInfo"
                   xmlns:q18="http://www.imsglobal.org/services/common/imsMessBindSchema_v1p0"/>
    </wsdl:message>
    <wsdl:message name="readPersonsResponse1">
        <wsdl:part name="readPersonsResponse" element="q19:readPersonsResponse"
                   xmlns:q19="http://www.imsglobal.org/services/pms/xsd/imsPersonManMessSchema_v1p0"/>
    </wsdl:message>
    <wsdl:message name="readPersonsResponse1_Headers">
        <wsdl:part name="syncResponseHeaderInfo" element="q20:syncResponseHeaderInfo"
                   xmlns:q20="http://www.imsglobal.org/services/common/imsMessBindSchema_v1p0"/>
    </wsdl:message>
    <wsdl:message name="changePersonsIdentifierRequest1">
        <wsdl:part name="changePersonsIdentifierRequest" element="q21:changePersonsIdentifierRequest"
                   xmlns:q21="http://www.imsglobal.org/services/pms/xsd/imsPersonManMessSchema_v1p0"/>
    </wsdl:message>
    <wsdl:message name="changePersonsIdentifierRequest1_Headers">
        <wsdl:part name="syncRequestHeaderInfo" element="q22:syncRequestHeaderInfo"
                   xmlns:q22="http://www.imsglobal.org/services/common/imsMessBindSchema_v1p0"/>
    </wsdl:message>
    <wsdl:message name="changePersonsIdentifierResponse1">
        <wsdl:part name="changePersonsIdentifierResponse" element="q23:changePersonsIdentifierResponse"
                   xmlns:q23="http://www.imsglobal.org/services/pms/xsd/imsPersonManMessSchema_v1p0"/>
    </wsdl:message>
    <wsdl:message name="changePersonsIdentifierResponse1_Headers">
        <wsdl:part name="syncResponseHeaderInfo" element="q24:syncResponseHeaderInfo"
                   xmlns:q24="http://www.imsglobal.org/services/common/imsMessBindSchema_v1p0"/>
    </wsdl:message>
    <wsdl:message name="createPersonRequest1">
        <wsdl:part name="createPersonRequest" element="q25:createPersonRequest"
                   xmlns:q25="http://www.imsglobal.org/services/pms/xsd/imsPersonManMessSchema_v1p0"/>
    </wsdl:message>
    <wsdl:message name="createPersonRequest1_Headers">
        <wsdl:part name="syncRequestHeaderInfo" element="q26:syncRequestHeaderInfo"
                   xmlns:q26="http://www.imsglobal.org/services/common/imsMessBindSchema_v1p0"/>
    </wsdl:message>
    <wsdl:message name="createPersonResponse1">
        <wsdl:part name="createPersonResponse" element="q27:createPersonResponse"
                   xmlns:q27="http://www.imsglobal.org/services/pms/xsd/imsPersonManMessSchema_v1p0"/>
    </wsdl:message>
    <wsdl:message name="createPersonResponse1_Headers">
        <wsdl:part name="syncResponseHeaderInfo" element="q28:syncResponseHeaderInfo"
                   xmlns:q28="http://www.imsglobal.org/services/common/imsMessBindSchema_v1p0"/>
    </wsdl:message>
    <wsdl:message name="updatePersonRequest1">
        <wsdl:part name="updatePersonRequest" element="q29:updatePersonRequest"
                   xmlns:q29="http://www.imsglobal.org/services/pms/xsd/imsPersonManMessSchema_v1p0"/>
    </wsdl:message>
    <wsdl:message name="updatePersonRequest1_Headers">
        <wsdl:part name="syncRequestHeaderInfo" element="q30:syncRequestHeaderInfo"
                   xmlns:q30="http://www.imsglobal.org/services/common/imsMessBindSchema_v1p0"/>
    </wsdl:message>
    <wsdl:message name="updatePersonResponse1">
        <wsdl:part name="updatePersonResponse" element="q31:updatePersonResponse"
                   xmlns:q31="http://www.imsglobal.org/services/pms/xsd/imsPersonManMessSchema_v1p0"/>
    </wsdl:message>
    <wsdl:message name="updatePersonResponse1_Headers">
        <wsdl:part name="syncResponseHeaderInfo" element="q32:syncResponseHeaderInfo"
                   xmlns:q32="http://www.imsglobal.org/services/common/imsMessBindSchema_v1p0"/>
    </wsdl:message>
    <wsdl:message name="replacePersonRequest1">
        <wsdl:part name="replacePersonRequest" element="q33:replacePersonRequest"
                   xmlns:q33="http://www.imsglobal.org/services/pms/xsd/imsPersonManMessSchema_v1p0"/>
    </wsdl:message>
    <wsdl:message name="replacePersonRequest1_Headers">
        <wsdl:part name="syncRequestHeaderInfo" element="q34:syncRequestHeaderInfo"
                   xmlns:q34="http://www.imsglobal.org/services/common/imsMessBindSchema_v1p0"/>
    </wsdl:message>
    <wsdl:message name="replacePersonResponse1">
        <wsdl:part name="replacePersonResponse" element="q35:replacePersonResponse"
                   xmlns:q35="http://www.imsglobal.org/services/pms/xsd/imsPersonManMessSchema_v1p0"/>
    </wsdl:message>
    <wsdl:message name="replacePersonResponse1_Headers">
        <wsdl:part name="syncResponseHeaderInfo" element="q36:syncResponseHeaderInfo"
                   xmlns:q36="http://www.imsglobal.org/services/common/imsMessBindSchema_v1p0"/>
    </wsdl:message>
    <wsdl:message name="deletePersonRequest1">
        <wsdl:part name="deletePersonRequest" element="q37:deletePersonRequest"
                   xmlns:q37="http://www.imsglobal.org/services/pms/xsd/imsPersonManMessSchema_v1p0"/>
    </wsdl:message>
    <wsdl:message name="deletePersonRequest1_Headers">
        <wsdl:part name="syncRequestHeaderInfo" element="q38:syncRequestHeaderInfo"
                   xmlns:q38="http://www.imsglobal.org/services/common/imsMessBindSchema_v1p0"/>
    </wsdl:message>
    <wsdl:message name="deletePersonResponse1">
        <wsdl:part name="deletePersonResponse" element="q39:deletePersonResponse"
                   xmlns:q39="http://www.imsglobal.org/services/pms/xsd/imsPersonManMessSchema_v1p0"/>
    </wsdl:message>
    <wsdl:message name="deletePersonResponse1_Headers">
        <wsdl:part name="syncResponseHeaderInfo" element="q40:syncResponseHeaderInfo"
                   xmlns:q40="http://www.imsglobal.org/services/common/imsMessBindSchema_v1p0"/>
    </wsdl:message>
    <wsdl:message name="readPersonRequest1">
        <wsdl:part name="readPersonRequest" element="q41:readPersonRequest"
                   xmlns:q41="http://www.imsglobal.org/services/pms/xsd/imsPersonManMessSchema_v1p0"/>
    </wsdl:message>
    <wsdl:message name="readPersonRequest1_Headers">
        <wsdl:part name="syncRequestHeaderInfo" element="q42:syncRequestHeaderInfo"
                   xmlns:q42="http://www.imsglobal.org/services/common/imsMessBindSchema_v1p0"/>
    </wsdl:message>
    <wsdl:message name="readPersonResponse1">
        <wsdl:part name="readPersonResponse" element="q43:readPersonResponse"
                   xmlns:q43="http://www.imsglobal.org/services/pms/xsd/imsPersonManMessSchema_v1p0"/>
    </wsdl:message>
    <wsdl:message name="readPersonResponse1_Headers">
        <wsdl:part name="syncResponseHeaderInfo" element="q44:syncResponseHeaderInfo"
                   xmlns:q44="http://www.imsglobal.org/services/common/imsMessBindSchema_v1p0"/>
    </wsdl:message>
    <wsdl:message name="changePersonIdentifierRequest1">
        <wsdl:part name="changePersonIdentifierRequest" element="q45:changePersonIdentifierRequest"
                   xmlns:q45="http://www.imsglobal.org/services/pms/xsd/imsPersonManMessSchema_v1p0"/>
    </wsdl:message>
    <wsdl:message name="changePersonIdentifierRequest1_Headers">
        <wsdl:part name="syncRequestHeaderInfo" element="q46:syncRequestHeaderInfo"
                   xmlns:q46="http://www.imsglobal.org/services/common/imsMessBindSchema_v1p0"/>
    </wsdl:message>
    <wsdl:message name="changePersonIdentifierResponse1">
        <wsdl:part name="changePersonIdentifierResponse" element="q47:changePersonIdentifierResponse"
                   xmlns:q47="http://www.imsglobal.org/services/pms/xsd/imsPersonManMessSchema_v1p0"/>
    </wsdl:message>
    <wsdl:message name="changePersonIdentifierResponse1_Headers">
        <wsdl:part name="syncResponseHeaderInfo" element="q48:syncResponseHeaderInfo"
                   xmlns:q48="http://www.imsglobal.org/services/common/imsMessBindSchema_v1p0"/>
    </wsdl:message>
    <wsdl:message name="readPersonsForGroupRequest1">
        <wsdl:part name="readPersonsForGroupRequest" element="q49:readPersonsForGroupRequest"
                   xmlns:q49="http://www.imsglobal.org/services/pms/xsd/imsPersonManMessSchema_v1p0"/>
    </wsdl:message>
    <wsdl:message name="readPersonsForGroupRequest1_Headers">
        <wsdl:part name="syncRequestHeaderInfo" element="q50:syncRequestHeaderInfo"
                   xmlns:q50="http://www.imsglobal.org/services/common/imsMessBindSchema_v1p0"/>
    </wsdl:message>
    <wsdl:message name="readPersonsForGroupResponse1">
        <wsdl:part name="readPersonsForGroupResponse" element="q51:readPersonsForGroupResponse"
                   xmlns:q51="http://www.imsglobal.org/services/pms/xsd/imsPersonManMessSchema_v1p0"/>
    </wsdl:message>
    <wsdl:message name="readPersonsForGroupResponse1_Headers">
        <wsdl:part name="syncResponseHeaderInfo" element="q52:syncResponseHeaderInfo"
                   xmlns:q52="http://www.imsglobal.org/services/common/imsMessBindSchema_v1p0"/>
    </wsdl:message>
    <wsdl:portType name="PersonManagementServiceSync">
        <wsdl:operation name="createPersons">
            <wsdl:input wsaw:Action="http://www.imsglobal.org/soap/pms/createPersons" name="createPersonsRequest1"
                        message="tns:createPersonsRequest1"/>
            <wsdl:output
                    wsaw:Action="http://www.imsglobal.org/services/pms/wsdl/imsPersonManAbstractSync_v1p0/PersonManagementServiceSync/createPersonsResponse"
                    name="createPersonsResponse1" message="tns:createPersonsResponse1"/>
        </wsdl:operation>
        <wsdl:operation name="updatePersons">
            <wsdl:input wsaw:Action="http://www.imsglobal.org/soap/pms/updatePersons" name="updatePersonsRequest1"
                        message="tns:updatePersonsRequest1"/>
            <wsdl:output
                    wsaw:Action="http://www.imsglobal.org/services/pms/wsdl/imsPersonManAbstractSync_v1p0/PersonManagementServiceSync/updatePersonsResponse"
                    name="updatePersonsResponse1" message="tns:updatePersonsResponse1"/>
        </wsdl:operation>
        <wsdl:operation name="replacePersons">
            <wsdl:input wsaw:Action="http://www.imsglobal.org/soap/pms/replacePersons" name="replacePersonsRequest1"
                        message="tns:replacePersonsRequest1"/>
            <wsdl:output
                    wsaw:Action="http://www.imsglobal.org/services/pms/wsdl/imsPersonManAbstractSync_v1p0/PersonManagementServiceSync/replacePersonsResponse"
                    name="replacePersonsResponse1" message="tns:replacePersonsResponse1"/>
        </wsdl:operation>
        <wsdl:operation name="deletePersons">
            <wsdl:input wsaw:Action="http://www.imsglobal.org/soap/pms/deletePersons" name="deletePersonsRequest1"
                        message="tns:deletePersonsRequest1"/>
            <wsdl:output
                    wsaw:Action="http://www.imsglobal.org/services/pms/wsdl/imsPersonManAbstractSync_v1p0/PersonManagementServiceSync/deletePersonsResponse"
                    name="deletePersonsResponse1" message="tns:deletePersonsResponse1"/>
        </wsdl:operation>
        <wsdl:operation name="readPersons">
            <wsdl:input wsaw:Action="http://www.imsglobal.org/soap/pms/readPersons" name="readPersonsRequest1"
                        message="tns:readPersonsRequest1"/>
            <wsdl:output
                    wsaw:Action="http://www.imsglobal.org/services/pms/wsdl/imsPersonManAbstractSync_v1p0/PersonManagementServiceSync/readPersonsResponse"
                    name="readPersonsResponse1" message="tns:readPersonsResponse1"/>
        </wsdl:operation>
        <wsdl:operation name="changePersonsIdentifier">
            <wsdl:input wsaw:Action="http://www.imsglobal.org/soap/pms/changePersonsIdentifier"
                        name="changePersonsIdentifierRequest1" message="tns:changePersonsIdentifierRequest1"/>
            <wsdl:output
                    wsaw:Action="http://www.imsglobal.org/services/pms/wsdl/imsPersonManAbstractSync_v1p0/PersonManagementServiceSync/changePersonsIdentifierResponse"
                    name="changePersonsIdentifierResponse1" message="tns:changePersonsIdentifierResponse1"/>
        </wsdl:operation>
        <wsdl:operation name="createPerson">
            <wsdl:input wsaw:Action="http://www.imsglobal.org/soap/pms/createPerson" name="createPersonRequest1"
                        message="tns:createPersonRequest1"/>
            <wsdl:output
                    wsaw:Action="http://www.imsglobal.org/services/pms/wsdl/imsPersonManAbstractSync_v1p0/PersonManagementServiceSync/createPersonResponse"
                    name="createPersonResponse1" message="tns:createPersonResponse1"/>
        </wsdl:operation>
        <wsdl:operation name="updatePerson">
            <wsdl:input wsaw:Action="http://www.imsglobal.org/soap/pms/updatePerson" name="updatePersonRequest1"
                        message="tns:updatePersonRequest1"/>
            <wsdl:output
                    wsaw:Action="http://www.imsglobal.org/services/pms/wsdl/imsPersonManAbstractSync_v1p0/PersonManagementServiceSync/updatePersonResponse"
                    name="updatePersonResponse1" message="tns:updatePersonResponse1"/>
        </wsdl:operation>
        <wsdl:operation name="replacePerson">
            <wsdl:input wsaw:Action="http://www.imsglobal.org/soap/pms/replacePerson" name="replacePersonRequest1"
                        message="tns:replacePersonRequest1"/>
            <wsdl:output
                    wsaw:Action="http://www.imsglobal.org/services/pms/wsdl/imsPersonManAbstractSync_v1p0/PersonManagementServiceSync/replacePersonResponse"
                    name="replacePersonResponse1" message="tns:replacePersonResponse1"/>
        </wsdl:operation>
        <wsdl:operation name="deletePerson">
            <wsdl:input wsaw:Action="http://www.imsglobal.org/soap/pms/deletePerson" name="deletePersonRequest1"
                        message="tns:deletePersonRequest1"/>
            <wsdl:output
                    wsaw:Action="http://www.imsglobal.org/services/pms/wsdl/imsPersonManAbstractSync_v1p0/PersonManagementServiceSync/deletePersonResponse"
                    name="deletePersonResponse1" message="tns:deletePersonResponse1"/>
        </wsdl:operation>
        <wsdl:operation name="readPerson">
            <wsdl:input wsaw:Action="http://www.imsglobal.org/soap/pms/readPerson" name="readPersonRequest1"
                        message="tns:readPersonRequest1"/>
            <wsdl:output
                    wsaw:Action="http://www.imsglobal.org/services/pms/wsdl/imsPersonManAbstractSync_v1p0/PersonManagementServiceSync/readPersonResponse"
                    name="readPersonResponse1" message="tns:readPersonResponse1"/>
        </wsdl:operation>
        <wsdl:operation name="changePersonIdentifier">
            <wsdl:input wsaw:Action="http://www.imsglobal.org/soap/pms/changePersonIdentifier"
                        name="changePersonIdentifierRequest1" message="tns:changePersonIdentifierRequest1"/>
            <wsdl:output
                    wsaw:Action="http://www.imsglobal.org/services/pms/wsdl/imsPersonManAbstractSync_v1p0/PersonManagementServiceSync/changePersonIdentifierResponse"
                    name="changePersonIdentifierResponse1" message="tns:changePersonIdentifierResponse1"/>
        </wsdl:operation>
        <wsdl:operation name="readPersonsForGroup">
            <wsdl:input wsaw:Action="http://www.imsglobal.org/soap/pms/readPersonsForGroup"
                        name="readPersonsForGroupRequest1" message="tns:readPersonsForGroupRequest1"/>
            <wsdl:output
                    wsaw:Action="http://www.imsglobal.org/services/pms/wsdl/imsPersonManAbstractSync_v1p0/PersonManagementServiceSync/readPersonsForGroupResponse"
                    name="readPersonsForGroupResponse1" message="tns:readPersonsForGroupResponse1"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="BasicHttpBinding_PersonManagementServiceSync" type="tns:PersonManagementServiceSync">
        <wsp:PolicyReference URI="#BasicHttpBinding_PersonManagementServiceSync_policy"/>
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="createPersons">
            <soap:operation soapAction="http://www.imsglobal.org/soap/pms/createPersons" style="document"/>
            <wsdl:input name="createPersonsRequest1">
                <soap:header message="tns:createPersonsRequest1_Headers" part="syncRequestHeaderInfo" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="createPersonsResponse1">
                <soap:header message="tns:createPersonsResponse1_Headers" part="syncResponseHeaderInfo" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updatePersons">
            <soap:operation soapAction="http://www.imsglobal.org/soap/pms/updatePersons" style="document"/>
            <wsdl:input name="updatePersonsRequest1">
                <soap:header message="tns:updatePersonsRequest1_Headers" part="syncRequestHeaderInfo" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="updatePersonsResponse1">
                <soap:header message="tns:updatePersonsResponse1_Headers" part="syncResponseHeaderInfo" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="replacePersons">
            <soap:operation soapAction="http://www.imsglobal.org/soap/pms/replacePersons" style="document"/>
            <wsdl:input name="replacePersonsRequest1">
                <soap:header message="tns:replacePersonsRequest1_Headers" part="syncRequestHeaderInfo" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="replacePersonsResponse1">
                <soap:header message="tns:replacePersonsResponse1_Headers" part="syncResponseHeaderInfo" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deletePersons">
            <soap:operation soapAction="http://www.imsglobal.org/soap/pms/deletePersons" style="document"/>
            <wsdl:input name="deletePersonsRequest1">
                <soap:header message="tns:deletePersonsRequest1_Headers" part="syncRequestHeaderInfo" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="deletePersonsResponse1">
                <soap:header message="tns:deletePersonsResponse1_Headers" part="syncResponseHeaderInfo" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="readPersons">
            <soap:operation soapAction="http://www.imsglobal.org/soap/pms/readPersons" style="document"/>
            <wsdl:input name="readPersonsRequest1">
                <soap:header message="tns:readPersonsRequest1_Headers" part="syncRequestHeaderInfo" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="readPersonsResponse1">
                <soap:header message="tns:readPersonsResponse1_Headers" part="syncResponseHeaderInfo" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="changePersonsIdentifier">
            <soap:operation soapAction="http://www.imsglobal.org/soap/pms/changePersonsIdentifier" style="document"/>
            <wsdl:input name="changePersonsIdentifierRequest1">
                <soap:header message="tns:changePersonsIdentifierRequest1_Headers" part="syncRequestHeaderInfo"
                             use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="changePersonsIdentifierResponse1">
                <soap:header message="tns:changePersonsIdentifierResponse1_Headers" part="syncResponseHeaderInfo"
                             use="literal"/>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createPerson">
            <soap:operation soapAction="http://www.imsglobal.org/soap/pms/createPerson" style="document"/>
            <wsdl:input name="createPersonRequest1">
                <soap:header message="tns:createPersonRequest1_Headers" part="syncRequestHeaderInfo" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="createPersonResponse1">
                <soap:header message="tns:createPersonResponse1_Headers" part="syncResponseHeaderInfo" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updatePerson">
            <soap:operation soapAction="http://www.imsglobal.org/soap/pms/updatePerson" style="document"/>
            <wsdl:input name="updatePersonRequest1">
                <soap:header message="tns:updatePersonRequest1_Headers" part="syncRequestHeaderInfo" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="updatePersonResponse1">
                <soap:header message="tns:updatePersonResponse1_Headers" part="syncResponseHeaderInfo" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="replacePerson">
            <soap:operation soapAction="http://www.imsglobal.org/soap/pms/replacePerson" style="document"/>
            <wsdl:input name="replacePersonRequest1">
                <soap:header message="tns:replacePersonRequest1_Headers" part="syncRequestHeaderInfo" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="replacePersonResponse1">
                <soap:header message="tns:replacePersonResponse1_Headers" part="syncResponseHeaderInfo" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deletePerson">
            <soap:operation soapAction="http://www.imsglobal.org/soap/pms/deletePerson" style="document"/>
            <wsdl:input name="deletePersonRequest1">
                <soap:header message="tns:deletePersonRequest1_Headers" part="syncRequestHeaderInfo" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="deletePersonResponse1">
                <soap:header message="tns:deletePersonResponse1_Headers" part="syncResponseHeaderInfo" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="readPerson">
            <soap:operation soapAction="http://www.imsglobal.org/soap/pms/readPerson" style="document"/>
            <wsdl:input name="readPersonRequest1">
                <soap:header message="tns:readPersonRequest1_Headers" part="syncRequestHeaderInfo" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="readPersonResponse1">
                <soap:header message="tns:readPersonResponse1_Headers" part="syncResponseHeaderInfo" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="changePersonIdentifier">
            <soap:operation soapAction="http://www.imsglobal.org/soap/pms/changePersonIdentifier" style="document"/>
            <wsdl:input name="changePersonIdentifierRequest1">
                <soap:header message="tns:changePersonIdentifierRequest1_Headers" part="syncRequestHeaderInfo"
                             use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="changePersonIdentifierResponse1">
                <soap:header message="tns:changePersonIdentifierResponse1_Headers" part="syncResponseHeaderInfo"
                             use="literal"/>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="readPersonsForGroup">
            <soap:operation soapAction="http://www.imsglobal.org/soap/pms/readPersonsForGroup" style="document"/>
            <wsdl:input name="readPersonsForGroupRequest1">
                <soap:header message="tns:readPersonsForGroupRequest1_Headers" part="syncRequestHeaderInfo"
                             use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="readPersonsForGroupResponse1">
                <soap:header message="tns:readPersonsForGroupResponse1_Headers" part="syncResponseHeaderInfo"
                             use="literal"/>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="PersonManagementServiceSync">
        <wsdl:port name="BasicHttpBinding_PersonManagementServiceSync"
                   binding="tns:BasicHttpBinding_PersonManagementServiceSync">
            <soap:address
                    location="https://enterprise.itsltest.com/WCFServiceLibrary/PersonManagementServiceSync.svc"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>